# Build
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
results/

# Environment variables - NEKOMITOVAT DO GITU!
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docs
docs/_build/
